fastapi
uvicorn
pymupdf
newspaper3k
lxml-html-clean
langchain
langchain-text-splitters
sentence-transformers
faiss-cpu
groq
python-dotenv
gtts
pydub
streamlit
requests
python-jose
passlib
sqlalchemy
elevenlabs
numpy
scipy
scikit-learn
torch
transformers
tokenizers
huggingface-hub
safetensors
tqdm
pillow
beautifulsoup4
nltk
feedparser
python-multipart
httpx